body {
  background-color: rgb(48, 48, 48);
}

@font-face {
  font-family: "SeuratPro";
  src: url("/src/fonts/FOT-SeuratPro-B.otf") format("opentype");
}
@font-face {
  font-family: "Kurokanestd";
  src: url("/src/fonts/FOT-KurokaneStd.otf") format("opentype");
}

.chart-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.title-sub {
  font: 16px Kurokanestd;
  margin: 0 0 -20px 0;
  letter-spacing: 0px;
  color: rgb(159, 159, 159);
}

.title-main {
  font: 36px Kurokanestd;
  margin: 0 0 20px 0;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
}

.dropdown {
  padding: 5px;
  font: 14px SeuratPro;
  background-color: rgba(110, 90, 147, 1);
  color: white;
  border-radius: 5px;
}

.chart-text-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-text-row p {
  margin: 0;
  padding: 4px 8px;
}

.meter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.meter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meter-container p {
  margin: 0 0 0 0;
  padding: 0 0 25px 0;
  text-align: center;
  -webkit-text-stroke: 0.75px white;
}

canvas {
  display: block;
}

.chart-canvas {
  border-radius: 10px;
  border: 2px solid white;
}

.press-text, .diff-text {
  font: 12px SeuratPro;
  margin: 0;
  color: rgb(134, 134, 134);
}

.meter-canvas {
  border: 1.5px solid white;
  border-radius: 16px;
  margin: 0 0 -15px 0;
}

.score-text {
  font-family: Kurokanestd;
  font-size: 32px;
  text-align: center;
  letter-spacing: -2px;
  color: #00b4ff;
}

.credits {
  font: 12px SeuratPro;
  margin: 20px 0 0 0;
  color: rgb(134, 134, 134);
}

.data-box {
  background-color: #00385b;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  display: inline-block;
  margin: 10px 0 0 0;
}

.data-table {
  border-collapse: collapse;
  font: 16px SeuratPro;
  border: none;
}

.custom-select {
  position: relative;
  width: 300px;
  cursor: pointer;
  z-index: 9999;
}

.selected {
  padding: 4px;
  border: 2px solid white;
  background: #9900fe;
  text-align: left;
  font: 18px Kurokanestd;
  display: flex;
  align-items: center;
}

.option {
  padding: 4px;
  border: 1px solid #450073;
  text-align: left;
  font: 18px Kurokanestd;
  color: #000;
  display: flex;
  align-items: center;
  background: #9900fe;
  color: white;
}

.options {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  text-align: left;
}

.options.open {
  display: block;
}

.selected::after {
  content: "▼";
  font-size: 14px;
  color: white;
  position: absolute;
  right: 8px;
}

.table-buttons {
  position: absolute;
  top: -25px;
  left: 0px;
  width: 100%;

  display: flex;
  gap: 6px;
  align-items: "center";
}

.table-buttons button {
  color: white;
  font: 12px SeuratPro;
  border: 1.5px solid white;
  border-radius: 8px;
  height: 28px;
  align-items: "center";
}

.debug-right {
  margin-left: auto; /* pushes it to the right */
}

.table-buttons button:hover {
  filter: brightness(150%); /* Brightens the button by 20% on hover */
}
